<section id="contact" class="contact">

  <div class="contact-container">

    <h2>Visit Us Today</h2>

    <div class="contact-card">

      <div class="contact-item">
        <h3>Hours</h3>
        <p>Open Daily</p>
        <p>8:00 AM - 9:30 PM</p>
      </div>

      <div class="contact-item">
        <h3>Phone</h3>
        <p>828-254-8846</p>
      </div>

      <div class="contact-item">
        <h3>Address</h3>
        <p>116 New Leicester Hwy Asheville,NC 28806</p>
      </div>

    </div>



  </div>

</section>
