<section id="home" class="hero">

  <div class="overlay">

    <div class="hero-content">

      <h1>
        FRESH LAUNDRY.
        <br>
        DONE RIGHT.
      </h1>

      <p>
        Clean Facility • Modern Machines • Coin Laundry
      </p>

      <div class="hero-buttons">
        <a href="#pricing" class="primary-btn">
          View Pricing
        </a>

        <a href="#gallery" class="secondary-btn">
          View Gallery
        </a>
      </div>

    </div>

  </div>

</section>
