<section id="home" class="hero" [style.background-image]="'url(images/hero.jpg)'">


  <div class="overlay">

    <div class="hero-content">

      <h1>FULL-SERVICE COIN LAUNDRY

<!-- trying to change something asasa -->>

      </h1>

      <p>
        Clean facility • Modern equipment • Attendant always on duty
      </p>

      <div class="hero-buttons">
        <a href="#pricing" class="primary-btn">
          View pricing
        </a>

        <a href="#gallery" class="secondary-btn">
          View gallery
        </a>
      </div>

    </div>

  </div>

</section>
