<section class="features">

  <div class="feature-card">
 <span class="material-symbols-outlined feature-icon">
    schedule
  </span>
    <h3>Open Daily</h3>

    <p>
      7:00 AM - 9:30 PM
      <br>
      Last wash at 8:15pm
    </p>

  </div>

  <div class="feature-card">

     <span class="material-symbols-outlined feature-icon">
    local_laundry_service
  </span>
    <h3>Coin Laundry</h3>

    <p>
      Self-Service Machines
    </p>

  </div>

  <div class="feature-card">
<span class="material-symbols-outlined feature-icon">
  location_on
</span>
    <h3>Convenient Location</h3>

    <p>
      Easy Parking Available
    </p>

  </div>

</section>
