<section id="pricing" class="pricing">
  <div class="washer_pricing" >
<h2 class="laundry"> Washer Pricing</h2>
<p class="highlight"> Dutch Girl Coin Laundry features state-of-the-art,
  high-capacity commercial washing machines ranging
  from 18 pounds starting at 4.00 to 90 pounds units
  starting at 15.00 to accommodate small loads up to extra-large bulk items.
</p>
  </div>
<div class="pricingfix">
  <h2>Laundry Pricing</h2>
</div>
  <div class="wash">
    <p>Wash, dry, and fold $1.25/lb.</p>
  </div>
<h2>Quality care for all your laundry needs</h2>
<div class="menu">

  <div class="pricing-image-container">
    <img
      src="images/menu.JPG"
      alt="Dutch Girl Coin Laundry Pricing"
      class="pricing-image">
  </div>



</div>
</section>
