<section id="pricing" class="pricing">

  <h2>Pricing</h2>
<h2>Quality care for all your laundry needs</h2>
  <div class="pricing-grid">

    <div class="pricing-card">

      <h3>Comforters</h3>

      <div class="gold-divider">
        <span></span>
        <i></i>
        <span></span>
      </div>

      <ul>
        <li class="price-row">
          <span class="service">Twin</span>
          <span class="line"></span>
          <span class="price">$16.00</span>
        </li>

        <li class="price-row">
          <span class="service">Full</span>
          <span class="line"></span>
          <span class="price">$18.00</span>
        </li>

        <li class="price-row">
          <span class="service">Queen</span>
          <span class="line"></span>
          <span class="price">$20.00</span>
        </li>

        <li class="price-row">
          <span class="service">King</span>
          <span class="line"></span>
          <span class="price">$25.00</span>
        </li>
        <li class="price-row">
          <span class="service">Cal King</span>
          <span class="line"></span>
          <span class="price">$30.00</span>
        </li>
      </ul>

    </div>

    <div class="pricing-card">

      <h3>Quilts</h3>
      <div class="gold-divider">
        <span></span>
        <i></i>
        <span></span>
      </div>
      <ul>
        <li class="price-row">
          <span class="service">Twin</span>
          <span class="line"></span>
          <span class="price">$10.00</span>
        </li>
        <li class="price-row">
          <span class="service">Full</span>
          <span class="line"></span>
          <span class="price">$15.00</span>
        </li>
        <li class="price-row">
          <span class="service">Queen</span>
          <span class="line"></span>
          <span class="price">$20.00</span>
        </li>
        <li class="price-row">
          <span class="service">King</span>
          <span class="line"></span>
          <span class="price">$20.00</span>
        </li>
        <li class="price-row">
          <span class="service">Cal king</span>
          <span class="line"></span>
          <span class="price">$25.00</span>
        </li>

      </ul>

    </div>

    <div class="pricing-card">

      <h3>Other</h3>
      <div class="gold-divider">
        <span></span>
        <i></i>
        <span></span>
      </div>
      <ul>
        <li class="price-row">
          <span class="service1">Pillow Top Down</span>
          <span class="line"></span>
          <span class="price">$50.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Sleeping Bags</span>
          <span class="line"></span>
          <span class="price">$10.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Pet Beds small</span>
          <span class="line"></span>
          <span class="price">$10.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Pet Beds medium</span>
          <span class="line"></span>
          <span class="price">$15.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Pet Beds large</span>
          <span class="line"></span>
          <span class="price">$20.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Rugs 5x7</span>
          <span class="line"></span>
          <span class="price">$18.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Rugs 8x10</span>
          <span class="line"></span>
          <span class="price">$20.00</span>
        </li>
        <li class="price-row">
          <span class="service1">Horse Blankets</span>
          <span class="line"></span>
          <span class="price"></span>
        </li>
      </ul>

    </div>

  </div>

</section>
